p {
    font-family: Arial, Helvetica, sans-serif;
}

#titulo-principal{
    color: blue;
}


.importante {
    background-color: red;
}



.destaque{
    background: yellow;
}

input[type ="password"] {
    border-color: blue;
}